.input :global(.vtex-input){
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
}

.input :global(.vtex-input):focus{
    outline: #59FF00;
    border-bottom: 2px solid #59FF00;
}

.input::placeholder{
    color: white;
}

.input:focus::placeholder{
    color: #59FF00;
}

