.logoImage{
    width: 30%;
    margin-top: 5px;
}

.searchBarContainer{
    width: 500px;
    margin-left: -500px;
}

.compactMode{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid !important;
}

.imageElement{
    width: 80%;
    height: 250px;
    position: absolute;
    top: 5px;
    left: 10%;
    border-radius: 20px;
}

.carouselGaleryThumbs{
    display: none;
}

.carouselGaleryCursor{
    width: 85%;
    margin: 0 auto;
}

.productImageTag{
    width: 600px !important;
    height: 250px !important;
}

.caretIcon{
    width: 10px;
    color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: -87px;
    left: 20px;
}

.swiper-pagination{
    height: 30px;
    position: relative;
    padding-top: 15px;
    z-index: 2;
}

.swiperBullet{
    color: #59FF00;
}

.listPrice{
    display: none;
}

.sellingPriceLabel{
    display: none;
}