.input{
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid;
}

.input:focus{
    outline: #59FF00;
    border-color: #59FF00;
}

.input::placeholder{
    color: white;
}

.input:focus::placeholder{
    color: #59FF00;
}


