:global(.vtex-button){
    background-color: transparent;
    border: none;
}

.buttonDataContainer--addToCart{
    width: 160px;
    height: 40px;
    background-color: #59ff00;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 6px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
}